<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <!-- connection strings can be added below, or stored in an external configuration file.  Connections.config is NOT included in the source, but an example is provided. -->
    <connectionStrings configSource="Connections.config" />
    <appSettings>
      <!-- poll interval (in seconds) in terms of how often the service should look for new reports to run -->
      <add key="PollInterval" value="15" />
      <!-- Set this to the user name under which the service should run.  Leave this as an empty value to run as Local System. -->
      <add key="ServiceUserName" value="" />
      <!-- Set this to the password of the user set in ServiceUserName.  Leave this as an empty value to run as Local System. -->
      <add key="ServicePassword" value="" />
      <!-- This is the maximum number of reports the program will run concurrently. -->
      <add key="MaxConcurrentReports" value="2" />
      <!-- If set, this will apply the specified default format to any dates encountered in report result sets.  Leave this empty if you don't want any default formatting applied. Excel extracts may override this setting. -->
      <add key="DefaultDateTimeFormat" value="yyyy/MM/dd HH:mm:ss"/>
      <!-- If set, this will apply the specified default format to any numbers encountered in report result sets.  Leave this empty if you don't want any default formatting applied. Excel extracts may override this setting. -->
      <add key="DefaultDecimalFormat" value="0.00"/>
      <!-- Allows you to override culture settings for the formatting of numbers.  If left blank, this will use CultureInfo.InvariantCulture. -->
      <add key="GlobalizationCulture" value=""/>
    </appSettings>
</configuration>