<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <!-- connection strings can be added below, or stored in an external configuration file.  Connections.config is NOT included in the source, but an example is provided. -->
    <connectionStrings configSource="Connections.config" />
    <appSettings>
      <!-- poll interval (in seconds) in terms of how often the service should look for new reports to run -->
      <add key="PollInterval" value="30" />
      <add key="ServiceUserName" value="" />
      <add key="ServicePassword" value="" />
      <add key="MaxConcurrentReports" value="2" />
    </appSettings>
</configuration>