<connectionStrings>
      <!-- each connection string added will be connected to and used to check for new reports to run - multiple connection strings can be added for multiple databases/servers -->
      <add name="DataWarehouse" connectionString="Data Source=myserver;Initial Catalog=mydatabase;Integrated Security=true;" />
</connectionStrings>
