<connectionStrings>
  <!-- each connection string added will be connected to and used to check for new reports to run - multiple connection strings can be added for multiple databases/servers -->
  <!--
  <add name="SqlServerReportRunner_Local" connectionString="Data Source=localhost;Initial Catalog=SqlServerReportRunner;Integrated Security=true;" />
  -->
  <add name="Dev0" connectionString="Data Source=iuadev-00;Initial Catalog=DataWarehouse;Integrated Security=true;" />
</connectionStrings>
