@using System.Collections.Generic
@using System.Linq
@model SqlServerReportRunner.ViewModels.Dashboard.IndexViewModel
<!DOCTYPE html>
<!-- saved from url=(0064)http://demo.thedevelovers.com/dashboard/klorofil-v2.0/index.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/Content/Css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/Css/font-awesome.min.css" />
    <!-- CONTROLS -->
    <link rel="stylesheet" href="/Content/Css/chartist-custom.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/Content/Css/style.css" />
    <link rel="stylesheet" href="/Content/Css/main.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="http://demo.thedevelovers.com/dashboard/klorofil-v2.0/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://demo.thedevelovers.com/dashboard/klorofil-v2.0/assets/img/favicon.png">
</head>
<body class="">
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="/">
                    <i class="fa fa-database fa-2x" aria-hidden="true"></i>
                    <span class="brand-text">SqlServerReportRunner</span>
                </a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="fa fa-bars" aria-hidden="true"></i></button>
                </div>
                <div class="navbar-btn navbar-btn-right navbar-version">
                    Version @Model.AppVersion
                </div>

            </div>
        </nav>
        <!-- END NAVBAR -->
        @RenderBody()
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">© 2017 <a href="https://www.themeineed.com/" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    @if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    }
    else
    {
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    }
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="/Content/Js/bootstrap.min.js"></script>
    <script src="/Content/Js/jquery.slimscroll.min.js"></script>
    <script src="/Content/Js/jquery.easypiechart.min.js"></script>
    <script src="/Content/Js/chartist.min.js"></script>
    <script src="/Content/Js/klorofil-common.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    @foreach (string script in ViewBag.Scripts)
    {
        <script src="@(script + "?v=" + Model.AppVersion)"></script>
    }
</body>
</html>
