@using System.Collections.Generic
@using System.Linq
@functions {
    //public string MenuActiveClass(string title) {
     //  return (ViewBag.Title.ToString().Contains(title) ? " active" : "");
    //}
}
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>@ViewBag.Title</title>
</head>
<body class="main page" data-feedly-mini="yes">
    @RenderBody()
  
</body>

</html>
