@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using System.Collections.Generic
@{
    Layout = "Views/Layouts/DefaultLayout.cshtml";
    ViewBag.Title = "SqlServerReportRunner :: Dashboard";
}
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 95%;">
        <div class="sidebar-scroll" style="overflow: hidden; width: auto; height: 95%;">
            <nav>

                <ul class="nav">
                    <!--
                    <li><a href="http://demo.thedevelovers.com/dashboard/klorofil-v2.0/index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                        -->
                    @foreach (var conn in Model.ConnectionNames)
                    {
                        <li><a href="javascript:void(0)" data-conn-name="@conn" class="link-connection"><i class="fa fa-angle-double-right" aria-hidden="true"></i> <span>@conn</span></a></li>
                    }
                </ul>
            </nav>
        </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 584px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->

    <div id="vue-dashboard-index" class="main-content">
        <div class="container-fluid">
            @if (Model.ConnectionNames.Count == 0)
            {
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <div class="alert alert-danger" role="alert">
                            There are no connections set up on this instance.
                        </div>
                    </div>
                </div>
            }
            else
            {
                <!-- OVERVIEW -->
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reporting data // {{ currentConnection }}</h3>
                        <div>
                            <form id="form-filter" class="form-inline">
                                <div class="input-group" style="margin-left: 0px">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" id="txt-date-filter" class="form-control">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="panel-statistics" class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="metric" data-toggle="tooltip" data-placement="bottom" title="The total number of reports generated">
                                    <span class="icon"><i data-icon="fa-cube" class="reload fa fa-cube"></i></span>
                                    <p>
                                        <span class="number">{{ totalReportCount }}</span>
                                        <span class="title">Total Reports</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric" data-toggle="tooltip" data-placement="bottom" title="Average time it took to execute the report, excluding time spent waiting in the queue">
                                    <span class="icon"><i data-icon="fa-clock-o" class="reload fa fa-clock-o"></i></span>
                                    <p>
                                        <span class="number">{{ averageExecutionSeconds }}</span>
                                        <span class="title">Avg Execution</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric" data-toggle="tooltip" data-placement="bottom" title="Average time it took to complete the report from when it was requested, including time spent waiting in the queue">
                                    <span class="icon"><i data-icon="fa-hourglass" class="reload fa fa-hourglass"></i></span>
                                    <p>
                                        <span class="number">{{ averageGenerationSeconds }}</span>
                                        <span class="title">Avg Generation</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-bar-chart"></i></span>
                                    <p>
                                        <span class="number">35%</span>
                                        <span class="title">Conversions</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- report count by day -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="chart-title">Report count by day</div>
                                <div id="report-count-by-day-chart" class="ct-chart series-label-45deg"></div>
                            </div>
                        </div>

                        <!-- most active users and reports -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="chart-title">Most active users</div>
                                <div id="active-users-chart" class="ct-chart series-label-45deg"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="chart-title">Most popular reports</div>
                                <div id="active-reports-chart" class="ct-chart series-label-45deg"></div>
                            </div>
                        </div>



                    </div>
                </div>
            }
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
