@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using System.Collections.Generic
@{
    Layout = "Views/Layouts/DefaultLayout.cshtml";
    ViewBag.Title = "SqlServerReportRunner :: Dashboard";
}
<h1>Dashboard</h1>